@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "prismjs/themes/prism-tomorrow.css"; /* Dark theme */

body {
  font-family: 'Inter', sans-serif;
}
@layer utilities {
  .blur-sm {
    filter: blur(4px);
  }
}

/* Optional: Add smooth transitions */
.grid > * {
  transition: all 0.5s ease-in-out;
}
@keyframes pulse {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Custom styles for the Ace Editor */
.ace_editor_custom .ace_content {
  background-color: black !important; /* Ensure editor content is black */
}

.ace_editor_custom .ace_gutter {
  background-color: black !important; /* Make the gutter black as well */
  color: white !important; /* Ensure gutter text is visible */
}


.resize-box {
  position: relative;
  background: white; /* or any background color you prefer */
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px; /* Width of the drag handle */
  height: 100%;
  cursor: ew-resize; /* Change cursor to indicate resizing */
  z-index: 1;
  background: transparent; /* Color of the resize handle */
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
